/*#plomo {background-color: #989696; }*/

#linea{display: inline-block;}


.divContenedor{
	width: 245px;
	height: 85px;
	border:1px solid black;
	margin-bottom: 4px;
	background-color: grey;
}

#divContenido{
	width: 70px;
	height: 70px;
	border:1px solid black;
	margin-top: 5px;
	margin-left: 5px;
	background-color: #989696;
	display: inline-block;
	}


div {
	width: 70px;
	height: 70px;
	border:1px solid black;
	margin-bottom: 4px;
	background-color: #989696;
}

